<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iListen</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/estilos.css">
    
</head>
<body>
        <main>

            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Regístrarse</button>
                    </div>
            </div>
                <div class="contenedor__login-register">
                    <form action="/login" class="formulario__login" method="post">
                        <h2>Iniciar Sesión</h2>
                        <input type="text" name="nombre_login" placeholder="Nombre de usuario">
                        <input type="password" name="pass_login" placeholder="Contraseña">
                        <input type="submit" value="Entrar">
                    </form>
                    <form action="/auth" class="formulario__register" method="post">
                        <h2>Registrarse</h2>
                        <input type="text" name="nombre_register" placeholder="Nombre">
                        <input type="password" name="pass_register" placeholder="Contraseña">
                        <input type="submit" value="Registrarse">
                    </form>
                </div>
            </div>

            <h1 style="text-align: center;" id="titulo">iListen</h1>
          
        </main>

        
</body>
    <script src="/script.js"></script>
</html>