<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--ICONOS BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
   
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
    <!--LINK DEL CSS-->
    <link href="../css/estilo_principal.css" rel="stylesheet" type="text/css">


    <title>iListen</title>
  </head>
  <body>
        <header>
            <div class="lado_menu">
                <h1><i class="bi bi-boombox">     iListen</i></h1>
                <div class="lista_canciones">
                      <!--
                    <h4 class="activar"><span></span><i class="bi bi-music-note-beamed"></i>Playlist</h4>
                    <h4 class="activar"><span></span><i class="bi bi-music-note-beamed"></i>Canciones Escuchadas</h4>
                    -->
                    <h1 class="activar ms-1" style="color:rgb(221, 219, 219); text-align:left;"><span></span>Canciones Recomendadas</h1>
                </div>
                <div class="menu_canciones">
                       <!--////////////////////////PRIMERA CANCION////////////////////-->
                    <!-- EL CAMBIO DE IMAGEN Y LETRA , SE HACE DESDE JAVASCRIPT (PRINCIPAL.JS)-->
                    <!-- EL id  TIENE QUE SER IGUAL QUE EL NOMBRE DE LA **CANCION***-->
                    <li class="cancion_item">
                        <span>01</span>
                        <img src="../images/portadas/1.jpg" alt="Van Halen">
                        <h5>
                        Everytime
                            <div class="subtitulo">Boy Pablo</div>
                        </h5>
                            <i class="bi  playlistplay bi-play-circle" id="1"></i>                          
                    </li>

                    <!--////////////////////SEGUNDA CANCIÓN////////////////////-->
                    <!-- EL CAMBIO DE IMAGEN Y LETRA , SE HACE DESDE JAVASCRIPT (PRINCIPAL.JS)-->
                    <!-- EL id  TIENE QUE SER IGUAL QUE EL NOMBRE DE LA **CANCION***-->
                    <li class="cancion_item">
                        <span>02</span>
                        <img src="../images/portadas/2.jpg" alt="Van Halen">
                        <h5>
                           Nana
                            <div class="subtitulo">Rojuu</div>
                        </h5>
                            <i class="bi  playlistplay bi-play-circle" id="2"></i>           
                    </li>

                     <!--////////////////////TERCERA CANCIÓN////////////////////-->
                     <!-- EL CAMBIO DE IMAGEN Y LETRA , SE HACE DESDE JAVASCRIPT (PRINCIPAL.JS)-->
                    <!-- EL id  TIENE QUE SER IGUAL QUE EL NOMBRE DE LA **CANCION***-->
                     <li class="cancion_item">
                        <span>03</span>
                        <img src="../images/portadas/3.jpg" alt="Van Halen">
                        <h5>
                            Losing You
                            <div class="subtitulo">Boy Pablo</div>
                        </h5>
                            <i class="bi  playlistplay bi-play-circle" id="3"></i>                          
                        
                    </li>

                    <!--/////////////////////// 4 ////////////////////////-->
                    <!-- EL CAMBIO DE IMAGEN Y LETRA , SE HACE DESDE JAVASCRIPT (PRINCIPAL.JS)-->
                    <!-- EL id  TIENE QUE SER IGUAL QUE EL NOMBRE DE LA **CANCION***-->
                    <li class="cancion_item">
                        <span>04</span>
                        <img src="../images/portadas/4.jpg" alt="Van Halen">
                        <h5>
                            Jump
                            <div class="subtitulo">Van Halen</div>
                        </h5>
                            <i class="bi  playlistplay bi-play-circle" id="4"></i>                          
                    </li>

                      <!--/////////////////////// 5 ////////////////////////-->
                      <!-- EL CAMBIO DE IMAGEN Y LETRA , SE HACE DESDE JAVASCRIPT (PRINCIPAL.JS)-->
                    <!-- EL id  TIENE QUE SER IGUAL QUE EL NOMBRE DE LA **CANCION***-->
                      <li class="cancion_item">
                        <span>05</span>
                        <img src="../images/portadas/5.jpg" alt="Van Halen">
                        <h5>
                           Clavado en un Bar
                            <div class="subtitulo">Maná</div>
                        </h5>
                            <i class="bi playlistplay  bi-play-circle" id="5"></i>                          
                    </li>

                      <!--/////////////////////// 6 ////////////////////////-->
                      <!-- EL CAMBIO DE IMAGEN Y LETRA , SE HACE DESDE JAVASCRIPT (PRINCIPAL.JS)-->
                    <!-- EL id  TIENE QUE SER IGUAL QUE EL NOMBRE DE LA **CANCION***-->
                      <li class="cancion_item">
                        <span>06</span>
                        <img src="../images/portadas/6.jpg" alt="Van Halen">
                        <h5>
                            Toxicity
                            <div class="subtitulo">S.O.A.D</div>
                        </h5>
                            <i class="bi playlistplay  bi-play-circle" id="6"></i>                          
                    </li>

                       <!--/////////////////////// 7 ////////////////////////-->
                      <!-- EL CAMBIO DE IMAGEN Y LETRA , SE HACE DESDE JAVASCRIPT (PRINCIPAL.JS)-->
                    <!-- EL id  TIENE QUE SER IGUAL QUE EL NOMBRE DE LA **CANCION***-->
                    <li class="cancion_item">
                        <span>07</span>
                        <img src="../images/portadas/7.jpg" alt="Van Halen">
                        <h5>
                            Panama
                            <div class="subtitulo">Van Halen</div>
                        </h5>
                            <i class="bi playlistplay  bi-play-circle" id="7"></i>                          
                    </li>

                    
                        <!--/////////////////////// 8 ////////////////////////-->
                      <!-- EL CAMBIO DE IMAGEN Y LETRA , SE HACE DESDE JAVASCRIPT (PRINCIPAL.JS)-->
                    <!-- EL id  TIENE QUE SER IGUAL QUE EL NOMBRE DE LA **CANCION***-->
                    <li class="cancion_item">
                        <span>08</span>
                        <img src="../images/portadas/24.jpg" alt="Fogorttenage">
                        <h5>
                            End Of The World
                            <div class="subtitulo">Fogorttenage</div>
                        </h5>
                            <i class="bi playlistplay  bi-play-circle" id="24"></i>                          
                    </li>

                    
                 </div>
            </div>

            <!--************************** BARRA DE NAVEGACION (PARTE SUPERIOR)***********************-->
            <div class="lado_cancion">
                   <!--//////////// U S U A R I O //////////////-->
                   <div class="dropdown user">
                    <button style="background:none; border:none;"  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../images/usuario.png" alt="usuario" title="nombre Usuario.">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                </div>

                <!--/////////////////////////////////////////-->
                <nav>
                    <ul>
                        <li><a href="../html/principal.html"> Descubrir Música<span></span></a></li>
                        <li><a href="../conciertos/conciertos.html">Próximos Conciertos<span></span></a> </li>
                    </ul>
                      <!--//////////--BUSCADOR--//////////////-->
                        <div class="buscador">
                            <i class="bi bi-search"></i>
                            <input type="text" placeholder="Buscar musica...">
                            <div class="resultado_busqueda">
                                    <!--
                                <a href="#" class="tarjeta">
                                    <img src="images/korkorlake.jpg" alt="">
                                    <div class="contenido">
                                            Nana 
                                            <div class="subtitulo">Rojuu</div>
                                    </div>
                                </a>
                           
                                <a href="#" class="tarjeta"></a>
                                <a href="#" class="tarjeta"></a>
                                <a href="#" class="tarjeta"></a>
                                <a href="#" class="tarjeta"></a>
                                -->
                            </div>
                        </div>
                     <!--//////////////////////////////////////-->

                </nav>

                <div class="contenido">
                    <pre><h1>T E V V E Z</h1></pre>
                    <p>
                       Artista de género Dance/ Electrónica.
                    </p>

                    <div class="botones">
                        <button class="bi playlistplay   bi-play-circle" id="31"> Reproducir</button>
                    </div>
                </div>
                <div class="canciones_populares">
                        <div class="can_popu">
                            <h4>Canciones de Tevvez</h4>
                            <div class="boton">
                                <i id="izquierda" class="bi bi-arrow-left-short"></i>
                                <i id="derecha" class="bi bi-arrow-right-short"></i>
                            </div>
                        </div>
                        <!--/////////////////////////////////////////// CANCIONES POPULARES ////////////////////////////////////////////-->
                        <div class="canciones_popu">

                            <!--*********** POPULAR 1 *****************-->
                            <li class="cancion">
                                <div class="imagen_reproducir">
                                    <img src="../images/portadas/31.jpg" alt="Skrillex">
                                    <i class="bi playlistplay   bi-play-circle" id="31"></i>
                                </div>

                                <h5>
                                  Quasar
                                   <br>
                                    <div class="subtitulo">Tevvez</div>
                                </h5> 
                            </li>  




                        <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                        </div>
                </div>

                <!-------------------------- ARTISTAS POPULARES ----------------------->
                <div class="artistas_populares">
                    <div class="can_popu">
                        <h4>Artistas</h4>
                        <div class="boton">
                            <i id="izquierdas" class="bi bi-arrow-left-short"></i>
                            <i id="derechas" class="bi bi-arrow-right-short"></i>
                        </div>
                    </div>
                    <!-------------------ARTISTAS------------------>
                   <div class="artista">
                            <!--ARTISTA 1-->
                        <li>
                          <a href="rojuu.html"><img src="../images/rojuuart.jpg" alt="rojuu" title="Rojuu"></a>  
                        </li>

                        <!--ARTISTA 2-->
                        <li>
                            <a href="blackstrobe.html"><img src="../images/artistas/black-strobe.jpg" alt="black strobe" title="black strobe"></a>
                        </li>

                        <!--ARTISTA 3-->
                        <li>
                            <a href="fito.html"> <img src="../images/artistas/fito.jpg" alt="fito y los fitipaldis" title="fito y los fitipaldis">
                        </li>

                        <!--ARTISTA 4-->
                        <li>
                            <a href="boypablo.html"> <img src="../images/artistas/bp.jpg" alt="Boy Pablo" title="Boy Pablo"></a>
                        </li>


                        <!--ARTISTA 5-->
                        <li>
                            <a href="vanhalen.html"> <img src="../images/artistas/vh.jpg" alt="Van Halen" title="Van Halen"></a>
                        </li>

                        <!--ARTISTA 6-->
                        <li>
                            <a href="big.html"><img src="../images/artistas/big.png" alt="Notorius Big" title="Notorius Big"></a>
                        </li>
    
                        <!--ARTISTA 7-->
                        <li>
                            <a href="u2.html"> <img src="../images/artistas/u2.jpg" alt="U2" title="U2"></a>
                        </li>
    
                        <!--ARTISTA 8-->
                        <li>
                            <a href="fogorttenage.html"> <img src="../images/artistas/fogort.jpg" alt="Fogorttenage" title="Fogorttenage"></a>
                        </li>
    
                        <!--ARTISTA 9-->
                        <li>
                            <a href="grisha.html"> <img src="../images/artistas/grisha.jpg" alt="Grisha" title="Grisha"></a>
                        </li>
    
    
                        <!--ARTISTA 10-->
                        <li>
                            <a href="flores.html">  <img src="../images/artistas/juandiego.jpg" alt="juandiego" title="Juan diego"></a>
                        </li>

                        <!--ARTISTA 11-->
                        <li>
                            <a href="cigarra.html"> <img src="../images/artistas/cigarra.jpg" alt="Cigarra" title="Cigarra"></a>
                        </li>
    
                        <!--ARTISTA 12-->
                        <li>
                            <a href="oreja.html"><img src="../images/artistas/oreja.jpg" alt="la oreja de van gogh" title="la oreja de van gogh"></a>
                        </li>
    
                        <!--ARTISTA 13-->
                        <li>
                            <a href="massive.html"> <img src="../images/artistas/massive-attack.jpg" alt="Massive Attack" title="Massive Attack"></a>
                        </li>
    
                        <!--ARTISTA 14-->
                        <li>
                            <a href="kitty.html"> <img src="../images/artistas/kitty.jpg" alt="Mr Kitty" title="Mr Kitty"></a>
                        </li>
    
    
                        <!--ARTISTA 15-->
                        <li>
                            <a href="shadow.html"> <img src="../images/artistas/shadow.jpg" alt="Shadow" title="Shadow"></a>
                        </li>

                         <!--ARTISTA 16-->
                         <li>
                            <a href="skrillex.html"> <img src="../images/artistas/skirller.jpg" alt="Skriller" title="Skrillex"></a>
                        </li>


                         <!--ARTISTA 17-->
                         <li>
                            <a href="tevvez.html"> <img src="../images/artistas/tevez.jpg" alt="Tevvez" title="Tevvez"></a>
                        </li>


                         <!--ARTISTA 18-->
                         <li>
                            <a href="pillow.html"><img src="../images/artistas/pillow.jpg" alt="The Pillow" title="The Pillow"></a>
                        </li>

                   </div>

                </div>
            </div>
             <!---***********************************************************************---->

            <div class="reproducir">
                <div class="wave">
                    <div class="wave1"></div>
                    <div class="wave1"></div>
                    <div class="wave1"></div>
                </div>
                <img src="../images/portadas/4.jpg" alt="vanHalen" id="portada_reproductor">
                <h5 id="titulo">
                    Panama <br>
                    <div class="subtitulo">Van Halen</div>                      
                </h5>
                <div class="icono">
                        <i class="bi bi-skip-start-fill" id="volver"></i>
                        <i class="bi bi-play-fill" id="reproducir"></i>
                        <i class="bi bi-skip-end-fill" id="siguiente"></i>
                </div>

                <span id="tiempoInicio">0:00</span>
                    <div class="barra">
                       <input type="range" id="buscar" min="0" value="0" max="100">
                        <div class="bar2" id="bar2"></div>
                        <div class="punto"></div>
                    </div>
                <span id="tiempoFinal">0:00</span>
                
                <!--------------VOLUMEN------------>
                <div class="vol">
                    <i class="bi bi-volume-down-fill" id="volumen_icono"></i>
                    <input type="range" id="vol" min="0" value="30" max="100">  
                    <div class="volumen_barra"></div>
                    <div class="punto_volumen" id="volumen_punto"></div>
                </div> 

            </div>
        
        </header>

        <!--Conexion con JS-->
        <script src="../js/principal.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>